<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d [%p] %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework.utils.logging" level="trace" />
	

	<root level="none">
		<appender-ref ref="stdout" />
	</root>
</configuration>
